body {
  background-color: #4B7DA9;
  color: white;
}

header {
  padding: 25px 20%;
  text-align: center;
}

.main.header {
  font-size: 36px;
  margin-bottom: 25px;
}

#axis-options {
  padding: 25px 20%;
  display: flex;
}

/* Color of circle */
circle {
  fill: #EED266;
  opacity: 0.3;
  font-family: 'Varela Round', sans-serif;
}

/* Text size for graph */
text {
  font-size: 12px;
  font-family: 'Varela Round', sans-serif;
}

.graph.title {
  font-size: 24px;
  fill: white;
}

.axis.label {
  font-size: 18px;
  fill: white;
}

.tick > line {
  stroke: #69A0D1;
}
